.cdk-drag-preview {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }

  .card {
    border-radius: 20px;
    background-color: #F1F2F4;
  }

  .btn-context-menu {
    background-color: #F1F2F4;
  }

  .btn-context-menu:hover {
    background-color: #cacaca;
  }